/* main cont */
.content-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 0 30px;
}

.content-header {
    display: flex;
    align-items: center;
    height: 36px;
    margin-top: 13px;
    border-bottom: 1px solid #ddd;
}

.content-title {
    padding-left: 22px;
    padding-top: 2px;
    background: url(../../assets/icon/icon_airport.svg) no-repeat left center;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 16px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;
    margin-bottom: 6px;
}

.content-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7b81bf;
    font-size: 11px;
    font-weight: 500;
}
.content-breadcrumbs span {
    position: relative;
    padding-right: 17px;
    color: #666;
}
.content-breadcrumbs span:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    width: 8px;
    height: 4px;
    background: url(../../assets/icon/icon_arr_down.svg) no-repeat left center/100%;
    rotate: -90deg;
}

.content-utils {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* filter */
.content-filter {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    border: 1px solid rgba(181, 165, 255, 0.3019607843);
    border-radius: 4px;
    background: rgba(236, 232, 255, 0.2);
    font-size: 13px;
}

.label-filter {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}
.label-filter .bullet {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 18px 0 8px;
}
.label-filter .bullet::before {
    content: '';
    width: 10px;
    height: 10px;
    margin-top: 1px;
    background: url(../../assets/icon/bullet_arr.svg) no-repeat center center;
}

.filter-btns {
    display: flex;
    gap: 6px;
    margin-left: auto;
}

.content-reaction {
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 5px;
}

/* reaction area */
.reaction-title {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 18px;
}
.reaction-title p {
    font-size: 14px;
}

.reaction-cont {
    display: flex;
    gap: 21px;
    padding: 15px;
    border-radius: 4px;
    background: #f8f8f8;
}
.reaction-cont .select-comm {
    height: 26px;
}

.reaction-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 84px;
    height: 84px;
    padding-top: 3px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #fff;
    color: #5b8e0d;
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
}
.reaction-total img {
    height: 32px;
}

.reaction-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    color: #000;
}

.reaction-result {
    display: flex;
    align-items: center;
    gap: 26px;
}
.reaction-result .item {
    display: flex;
    align-items: center;
    gap: 7px;
}
.reaction-result .item.total {
    padding: 5px 10px 0 0;
}
.reaction-result .item.total em {
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
    padding-bottom: 3px;
}

.reaction-selects {
    display: flex;
    align-items: center;
    gap: 20px;
}
.reaction-selects .item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reaction-input {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-left: 40px;
}
.reaction-input .btn-primary {
    font-size: 14px;
}
